/* 
 * My CSS Reset combines the HTML5 Boilerplate and Eric Meyers' reset into one piece of awesomeness.
 * I add comment tags where we split off from the HTML5 Boilerplate and why
 */

/* =============================================================================
   HTML5 display definitions
   ========================================================================== */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

/* =============================================================================
   Base
   ========================================================================== */

/* 
 * Remove font size and reduce line height to 1. Removed ::selection
 */

html { -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

html, button, input, select, textarea { font-family: sans-serif; color: #222; }

/* 
 * Added baselining styles from Meyers' reset
 */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
background: transparent;
font-size: 100%;
margin: 0;
padding: 0;
border: 0;
outline: 0;
vertical-align: baseline;
}

/*
 * We are setting the body to a baseline 62.5% font size. 
 * This creates a baseline so that we can use either % or em 
 * (developer can choose, but % preferred) to set your elements font size. 
 * With this baseline, the % or em will equal the pixel size of the font eg(120% = 12px, 1.2em = 12px)
 */
body { font-size: 62.5%; margin: 0; line-height: 1; }

/* =============================================================================
   Links
   ========================================================================== */

/* 
 * Only specifying a color, so it's easier to override, since we do that a lot
 */

a { color: #3789B9; text-decoration: none; }

a:hover, a:active { outline: 0; }


/* =============================================================================
   Typography
   ========================================================================== */

/* 
 * Removing everything other than sub and sup. See no need for it on our site. Prove me wrong. 
 */

sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }


/* =============================================================================
   Lists
   ========================================================================== */

/* Killing built in margin to lists. Reducing the padding to 20px so it matches the top text.
 * Can be overriden as need it, but this is our current design standard for ULs
 */

ul, ol { margin: 0; padding: 0 0 0 20px; }
dd { margin: 0; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }


/* =============================================================================
   Embedded content
   ========================================================================== */

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }


/* =============================================================================
   Figures
   ========================================================================== */

figure { margin: 0; }


/* =============================================================================
   Forms
   ========================================================================== */

/* 
 * Adding padding 0 to form for IE
 */

form { margin: 0; padding :0;}
fieldset { border: 0; margin: 0; padding: 0; }
label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }
button[disabled], input[disabled] { cursor: default; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }


/* =============================================================================
   Tables
   ========================================================================== */

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }

/*
 * Killing chrome frame
 */

/* ====++=======================================================================
   non-semantic helper classes
   ========================================================================== */

.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0; }
.ir br { display: none; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }
/* adding these legacy clearing classes in case they are used in modules */
.clear, .clearing { clear:both;}
/* Jaws only: text available to screen readers but not displayed on screen */
.jawsonly { height: 1px; left: -10000px; overflow: hidden; margin:-1px; position: absolute; top: auto; width: 1px; }


/* =============================================================================
   Print styles
   ========================================================================== */

/*
 * Leaving this for now, but we might remove this. Leaving this up to J
 */

@media print {
  * { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: h5bp.com/s */
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* h5bp.com/t */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}